/*********************** Demo - 1 *******************/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.box7:after,
.box7:before {
  content: "";
}


.box7 {
  overflow: hidden;
}


.box7 .title {
  letter-spacing: 1px;
}


.box7 .post {
    font-family: 'Poppins', sans-serif;
}

/* body {
  background-color: #f1f1f2;
} */

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}


/*********************** Demo - 7 *******************/
.box7 {
  position: relative;
  left: 60px;
}
.box7:after,
.box7:before {
  width: 65%;
  height: 100%;
  background: rgba(11, 33, 47, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease 0s;
}

/* .box7:after {
  background: rgba(255, 255, 255, 0.3);
  width: 65%;
  border: 2px solid #0dab76;
  top: 0;
  left: 170%;
  opacity: 1;
  z-index: 1;
  transform: skewX(45deg);
  transition: all 1s ease 0s;
} */

.box7:hover:before {
  opacity: 1;
}

.box7:hover:after {
  left: -170%;
}

.box7 img {
  width: 65%;
  height: auto;
}

.box7 .box-content {
  width: 65%;
  position: absolute;
  bottom: -100%;
  left: 0;
  transition: all 0.5s ease 0s;
}

.box7:hover .box-content {
  bottom: 30%;
}

.box7 .title {
  text-align: center;
  display: block;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 0 0 10px;
}

.box7 .post {
  display: block;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.box7 .icon {
  margin: 0;
}

.box7 .icon li {
  display: inline-block;
}

.box7 .icon li a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background: #0dab76;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  margin-right: 10px;
  transition: all 0.5s ease 0s;
}

.box8 .icon li,
.box8 .title {
  display: inline-block;
}

.box7 .icon li a:hover {
  transform: rotate(360deg);
}

@media only screen and (max-width: 990px) {
  .box {
    margin-bottom: 30px;
  }
}
h2.para_car_head{
    text-align: center;
}
p.para_caree {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    /* text-align: center; */
    line-height: 1.5;
}
h3.text-center {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 700;

}
h2.para_car_head {
    text-align: center;
    font-size: 37px;
    font-weight: 400;
}
h1.animated {
    text-align: center;
    margin-top: 15px;
    font-size: 42px;
    font-weight: 500;
}